:root {
  --bg-color-1: #edecee12;
  --bg-color-2: #5b5862;
  --bg-color-3: #1b1b1b;
  --bg-color-4: #3006b3;
  --bg-color-5: #232225;

  --text-color-1: #ffffff;
  --text-color-2: #ffffff80;
  --text-color-3: #edecee;
  --text-color-4: #101010;

  --background: #282a36;
  --string: #f1fa8c;
  --int: #bd93f9;
  --property: #8be9fd;
  --operator: #ff79c6;
  --punctuation: #f8f8f2;
  --comment: #6272a4;
  --get: #50fa7b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: var(--text-color-1);
  background-color: #232225;
}

body {
  max-width: 1140px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ul,
li {
  list-style: none;
} */

.get {
  color: var(--get);
}

.comment {
  color: var(--comment);
}

.background {
  background-color: var(--background);
}

.int {
  color: var(--int);
}

.string {
  color: var(--string);
}

.punctuation {
  color: var(--punctuation);
}

.property {
  color: var(--property);
}

.operator {
  color: var(--operator);
}

/*----- Header ------*/

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  padding: 1rem;
}


/*----- Components ------*/

.container {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.code {
  color: var(--text-color-2);
  background: var(--background);
  padding: .135rem .35rem;
  font-weight: 400;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  width: fit-content;
}

.code-container {
  height: fit-content;
  font-size: 13px;
  margin-top: 1rem;
  border-radius: 10px;
  background-color: var(--background);
  overflow: auto;
}

.text-title {
  color: var(--text-color-3);
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 0.8rem;
}

.text-simple {
  color: var(--text-color-2);
  font-size: .9rem;
  font-weight: 200;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.text-simple, .m2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}


/*----- Main ------*/

.main {
  padding: 2rem;
}

.table {
  margin-top: 2rem;
  width: 100%;
  border-collapse: collapse;
  color: var(--int);
}

.table .t-head {
  color: var(--property);
  background-color: var(--bg-color-3);
}

.table td, 
.table th {
  padding: .7rem;
}

.table th {
  font-weight: bolder;
  text-align: left;
  border-bottom: 1px solid var(--bg-color-2);
}

.table td {
  border-bottom: 1px solid var(--bg-color-1);
}

.table tbody tr:nth-child(even) {
  background-color: var(--background);
}

.list {
  margin-left: 2rem;
}